* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* add the scroll behavior to smooth */
html {
    scroll-behavior: smooth;
}

/* style of main part */
main {
    background-color: #ddcdbd;
    width: 100%;
}

/* style of image of banner */
.banner img {
    height: 670px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 8px dashed #33231a;
}

/* style of product area */
.product-container {
    text-align: center;
}

.product-container h4 {
    background-color: #b8967c;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}

.product-container h1 {
    padding-top: 70px;
    text-decoration-line: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
}

/* adjust the position after clicking dropdown link */
.section {
    scroll-margin-top : 85px;
}

/* style of the product items */
.column {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    margin: 30px 25px 30px 20px;
}

/* style of the items' image */
.column img {
    width: 80%;
}

/* style of the info of the product */
.content {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    margin-left: 10%;
}

.content,.caption {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: black;
    text-align: left;
    margin-top: 5%;
    padding-bottom: 3%;
    font-weight: 600;
}

/* style of the prices */
.oriprice {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    text-align: left;
    text-decoration: line-through;
    margin-top: 15px;
}

.price {
    font-size: 1.2em;
}

.content,.price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-top: 30px;
}

/* style of discount percent */
.dispercent {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
    color: red;
    text-align: right;
    margin-top: -30px;
}

/* style of product */
.content img {
    border: none;
    background-color: transparent;
    width: 40%;
    margin-top: 5%;
}

.column details summary {
    padding: 10px;
    padding-left: 0;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
}

.column details p {
    padding-bottom: 20px;
    text-align: left;
}

/* Specifies the size of the audio container */
.banner audio {
    width: 120px;
    height: 25px;
    margin-left: 90%;
    margin-top:6% ;
}
  
.banner audio::-webkit-media-controls-panel {
    -webkit-justify-content: center;
    height: 25px;
}
  
  /* Removes the timeline */
.banner audio::-webkit-media-controls-timeline {
    display: none;
}
  
  /* Removes the time stamp */
.banner audio::-webkit-media-controls-current-time-display {
    display: none;
}
.banner audio::-webkit-media-controls-time-remaining-display {
    display: none;
}
  
/* Removes play-button */
.banner audio::-webkit-media-controls-play-button {
    display: none;
}
  